.termList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 1.1rem;
}

@media screen and (min-width: 960px) {
  .termList {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
