.menuItem {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
  .menuItem {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1rem;
  }
}
