.navBar {
  margin-left: auto;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  font-weight: bold;
  background-color: var(--color-primary);
  color: #fff;
  margin: 0;
  padding: 1.5em 1em;
  list-style: none;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.labelMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger:checked + .menu {
  transform: translateX(0);
}

.hamburger {
  display: none;
}

@media screen and (min-width: 960px) {
  .navBar {
    width: 100%;
    margin-left: 5em;
  }

  .menu {
    width: auto;
    position: static;
    align-items: center;
    flex-direction: row;
    gap: 4em;
    padding: 0;
    background-color: transparent;
    color: #000;
    font-weight: normal;
    transform: translateX(0);
  }

  .labelMenu {
    display: none;
  }
}
