.button {
  font-size: .9rem;
  font-weight: bold;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: .5em 1em;
  cursor: pointer;
}

.buttonAlternate {
  color: var(--color-primary);
}
