.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* para que no se vea tan ancho */
    max-height: max-content;
    padding: 40px 30px; /* para que no se vea tan pegado a los bordes */
    border-radius: 20px; /* para que se vea redondeado */
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    gap: 0.8em;
}