:root {
  --font-primary: 'Nunito', sans-serif;
  --font-secondary: 'Merriweather', serif;
  --color-primary: #654bfe;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
