.footer {
  margin-top: 70px;
  background-color: var(--color-primary);
}

.footerContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 0.2);
  transform: translateY(-30px);
}

.footerContainer > :first-child {
  margin-bottom: 30px;
  text-align: center;
}

.footerSubtitle {
  margin-top: 0;
}

.atentionFooter {
  margin-bottom: 40px;
  text-align: center;
}

.socialFooter {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.atentionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.atentionList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media screen and (min-width: 960px) {
  .footerContainer {
    width: 60%;
    padding: 3rem 4rem;
  }

  .footerMain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .atentionFooter,
  .socialFooter {
    margin-top: 0;
    margin-bottom: 0;
  }
}
