.accident-no-approval {
    text-align: left;
    margin-left: 0;         /* asegúrate de no tener auto */
    padding-left: 2rem;     /* opcional, da algo de espacio */
    max-width: 100%;        /* asegura que no se limite */
    width: 100%;      
    margin-top: 3%;      /* ocupa todo el ancho posible */

  }
  
  .table-container {
    overflow-x: auto;
    border-radius: 0.5rem;
    margin: 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .accident-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .accident-table th,
  .accident-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
    white-space: nowrap;
  }
  
  .accident-table th {
    background-color: #f5f5f5;
    font-weight: 600;
    color: #333;
  }
  
  .accident-table tr:hover {
    background-color: #f9f9f9;
  }
  
  .btn-aprobar {
    background-color: #38a169; /* verde */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
  }
  
  .btn-aprobar:hover {
    background-color: #2f855a;
  }
  
  .accident-no-approval h3 {
    font-size: 1.1.25rem;
   
  }

  .toast-exito {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10%, 90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }