.dashboard {
  padding: 2rem;
  background-color: white;
}

.dashboard h3 {
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.card {
  background-color: #f4f4ff;
  border-radius: 15px;
  padding: 1.5rem;
  flex: 1 1 250px;
  max-width: 300px;
  min-width: 240px;
  margin-top: 0.2rem;
  box-sizing: border-box;
}

.card h2 {
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.card-container p {
  font-size: 0.9rem;
  font-family: var(--font-primary);
  margin-bottom: 1.5rem;
}

.recent-accidents {
  margin-top: 2rem;
  overflow-x: auto;
}

.accident-row {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.accident-row span {
  font-family: var(--font-primary);
  font-size: 0.9rem;
  white-space: nowrap;
}

.quick-actions {
  margin-top: 2rem;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

/* ✅ Media Queries para responsividad */

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .accident-row {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5rem;
    padding: 1rem 0;
  }

  .accident-row span:nth-child(3),
  .accident-row span:nth-child(4),
  .accident-row span:nth-child(5) {
    grid-column: span 2;
  }

  .action-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .action-button {
    width: 100%;
  }
}
