.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90vmin;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  
  .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.1);
  }
  
  .banner__title {
    margin: 0;
    color: #fff;
    font-size: 2.5rem;
    font-style: italic;
  }
  