.breadcrum {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: calc(var(--font-size-medium) - 0.1rem);
}

.breadcrumItem:not(:first-child)::before {
  content: ">";
  margin: 0 0.6em;
  font-weight: bold;
}

.breadcrumLink {
  color: rgb(0 0 0 / 0.6);
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .breadcrumLink {
    transition: color 0.3s;
  }

  .breadcrumLink:hover {
    color: #000;
  }
}
