.iconContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #fff;
}

.iconItem {
  background-color: var(--color-primary);
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
}
