.dashboard {
    padding: 2rem;
    background-color: white;
  }

  .dashboard h3 {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
  }
  
  .card-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    
  }

  .card-container p {
    font-size: 0.90rem;
    font-family: var(--font-primary);
    margin-bottom: 1.5rem;
  }
  
  .card {
    background-color: #f4f4ff;
    border-radius: 15px;
    padding: 1.5rem;
    flex: 1;
    margin-top: 0.2rem;
  }
  
  .card h2 {
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .recent-accidents {
    margin-top: 2rem;
  }
  
  .accident-row {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .accident-row span {
    font-family: var(--font-primary);
    font-size: 0.90rem;
    white-space: nowrap;
  }

  .quick-actions {
    margin-top: 2rem;
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

