.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(var(--font-size-small) + 0.1rem);
  padding: 0.5em;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px var(--shadow-color);
  cursor: pointer;
}

.buttonLegend {
  font-size: inherit;
  background-color: transparent;
  border: none;
  margin-right: 0.5em;
  cursor: inherit;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: var(--font-size-medium);
  }
}
