.container {
  margin-top: 30px;
}

.formTitle {
  margin-top: 0;
  font-weight: normal;
}

.formGeneral {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 30px;
}

.input,
.select {
  display: block;
  width: 80%;
  max-width: 500px;
  border: none;
  background-color: #eee;
  border-radius: 30px;
  margin-top: 6px;
  padding: 0.3em 0.8em;
  font-family: inherit;
  font-size: var(--font-size-medium);
  box-shadow: 0px 0px 2px 0px var(--shadow-color);
}

.select {
  padding-right: 2em;
  appearance: none;
  background-image: url("../../../../assets/icons/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 0.9em;
}

.input:focus {
  outline: 2px solid #555;
}

.input.ubicationInput {
  max-width: 550px;
  width: 100%;
}

.formFile > :last-child {
  margin-top: 30px;
}

@media screen and (min-width: 960px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    display: flex;
    gap: 10vw;
    margin-top: 30px;
  }

  .formGeneral {
    width: 35%;
  }

  .formFile {
    width: 65%;
  }

  .input {
    width: 100%;
    font-size: calc(var(--font-size-small) + 0.1rem);
  }
  .select {
    width: 100%;
  }
}

@media screen and (min-width: 1800px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    gap: 20vw;
  }
}
