.container {
  margin-top: 30px;
}

.formTitle {
  margin-top: 0;
  font-weight: normal;
}

.formGeneral {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 30px;
}

.formFile > :last-child {
  margin-top: 30px;
}

@media screen and (min-width: 960px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    display: flex;
    gap: 10vw;
    margin-top: 30px;
  }

  .formGeneral {
    width: 35%;
  }

  .formFile {
    width: 65%;
  }
}

@media screen and (min-width: 1800px) {
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    gap: 20vw;
  }
}
