.panel__item__img {
    width: 100%;
    height: 420px;
    filter: brightness(0.7);
  }
  
  .panel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.7s ease;
  }
  
  .panel__item:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .panel__item__link {
    display: flex;
    flex-direction: column;
    font-family: var(--second-font);
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: #fff;
  }
  
  .panel__item__link__icon {
    width: 5em;
    height: 5em;
  }
  
  .panel__item__title {
    margin-top: 0.5em;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
  }
  